[Unit]
Description=Python Bot
After=network.target

[Service]
User=petr
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/petr/projects/Bot_with_prizes
ExecStart=/home/petr/projects/Bot_with_prizes/venv/bin/python main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target